<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JavaServerFaces</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Servlet1</servlet-name>
		<servlet-class>ortiz.perez.albin.servlet.Servlet1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<!-- Context param available to be accessed from a bean and a facelet page -->
	<context-param>
		<param-name>myName</param-name>
		<param-value>Albin</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/own-taglib.xml</param-value>
	</context-param>

	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	<listener>
		<listener-class>ortiz.perez.albin.listener.HttpSessionListener</listener-class>
	</listener>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/Test.jsf</location>
	</error-page>

	<filter>
		<filter-name>Test</filter-name>
		<filter-class>ortiz.perez.albin.filter.Filter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Test</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
</web-app>